<div style="margin-top: -110px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-hdd-network-fill"></i>
            <h3>Back-end</h3>

            <p>
                Trabajo desde desarrollo, entregas y revisiones continuas para producción.
            </p>

            <p class="text-primary cabecera">
                Experiencia con las tecnologías:
            </p>

            <ul>
                <li>PHP</li>
                <li>C# .NET</li>
                <li>Visual Basic .NET</li>
                <li>MySQL</li>
                <li>SQL Server</li>
            </ul>


        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px  0 gray;">
            <i class="bi bi-file-earmark-code-fill"></i>
            <h3>Front-end</h3>

            <p>
                Cración de front-ends para modulos a medida.
            </p>

            <p class="text-primary cabecera">
                Experiencia con las tecnologías:
            </p>

            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
            </ul>

        </div>
    </div>
</div>