<div class="text-center">
    <h1 class="display-4">Soy Marco Carrillo</h1>
    <h2>Soy un desarrollador Full Stack especializado en tecnologías .NET</h2>

    <img id="foto" src="~/imagenes/foto.jpg" alt="Foto mia" />
</div>


<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="imagen logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado retomando nuevamente la tecnlogía .NET de la mano de C# para desarrollarme profesionalmente.
            Tuve la oportunidad de trabajar para una empresa donde participe en algunos
            proyectos de desarrollo internos, en su mayoría "Legacy"; todo esto utilizando
            pricipalmente PHP, HTML, CSS, Bootstrap, JavaScript, .NET con Visual Basic y C#, MySQL.
        </p>
    </div>
</div>

